<div class="flex flex-col justify-center items-center py-10 ">
    <%# Titolo della sezione %>
    <h1 class="text-4xl font-semibold text-[#041d56] ">Il Nostro Team</h1>
    <%# Contenitore delle card dei servizi %>
    <div class="flex md:flex-row flex-col justify-between mt-24">
        <div class="md:grid grid-cols-3 flex-col md:space-y-0 space-y-10  gap-32">
            <%# Card servizio 1 %>
            <div class="flex flex-col items-center justify-center space-y-3">
                <img src="<%= icona1%>" />
                <h1 class="text-xl font-bold"><%= titolo1%></h1>
                <h2 class="border-b font-semibold"><%= testo1%></h2>
            </div>
            <%# Card servizio 2 %>
            <div class="flex flex-col items-center justify-center space-y-3">
                <img src="<%= icona2%>" />
                <h1 class="text-xl font-bold"><%= titolo2%></h1>
                <h2 class="border-b font-semibold"><%= testo2%></h2>
            </div>
            <%# Card servizio 3 %>
            <div class="flex flex-col items-center justify-center space-y-3">
                <img src="<%= icona3%>" />
                <h1 class="text-xl font-bold"><%= titolo3%></h1>
                <h2 class="border-b font-semibold"><%= testo3%></h2>
            </div>
        </div>
    </div>
</div>