<%= render partial: 'components/hero', locals: {
    logo: "/assets/icons/logo.svg",
    heroImage: "/assets/images/heroBg.jpg",
    heroLink: [ "Progettazione", "Interior Design", "Ristrutturazioni", "Contatti", "IT"],
    titleSM: "Design astratto e moderno",
    title: "Punto Zero Architettura",
    icon1:"/assets/icons/pin.png",
        title1: "Dove Siamo",
        text1: "Via Antonio Vivaldi 7, Torre di Mosto, VE 30020",
    button1: "Preventivi",
    button2: "Consulenze"
} %>

<%= render partial: 'components/introduzione', locals: {
    bgImage: "/assets/images/introduzioneBG.jpg",
    titleSM: "",
    title1: "Punto Zero Architettura, il design del nuovo millennio",
    text1: "",
    title2: "Punto Zero Architettura, il design del nuovo millennio",
    text2: "Siamo Punto Zero Architettura, uno studio dinamico e innovativo specializzato in progettazione architettonica, interior design e ristrutturazioni. Il nostro obiettivo è trasformare le vostre idee in spazi concreti, funzionali e di grande impatto estetico."
} %>
<div class="bg-[url('/assets/images/bg.jpg')] bg-cover py-20">
    <div class="flex font-semibold pb-20 justify-center items-center text-5xl text-white">
        <h1>I Nostri Servizi</h1>
    </div>
    <%= render partial: "components/servizi", 
        locals: {
            inEvidenza: [
                { immagine: "/assets/images/progettazione.jpg", titolo: "Progettazione", bottone: "Scopri di più" },
                { immagine: "/assets/images/interiorDesign2.jpg", titolo: "Interior Design", bottone: "Scopri di più", url: "interiordesign.path" },
                { immagine: "/assets/images/ristrotturazione.jpg", titolo: "Ristrutturazioni", bottone: "Scopri di più" },
            ]
        }
    %>
    <div class="my-32 rounded-xl w-full flex justify-center items-center">
        <div class="bg-white w-fit px-10 rounded-2xl">
            <%= render partial: "components/team", locals: {
                icona1: "/assets/icons/people.png",
                icona2: "/assets/icons/matita.png",
                icona3: "/assets/icons/quality.png",
                titolo1: "Team di esperti sempre disponibili",
                titolo2: "Designers creativi e professionali",
                titolo3: "Ristrutturazioni effetuate da operai qualificati",
                testo1: "",
                testo2: "",
                testo3: "",
            }%>
        </div>
    </div>
</div>
<div class='text-center pt-20 md:py-56 py-32 bg-[url("/assets/images/introduzioneBg.jpg")] bg-cover bg-center' style="background-color: rgba(0, 0, 0, 0.5);  background-blend-mode: darken;">
    <h1 class="text-4xl font-semibold mb-4 text-white">Tutte le novità. Iscriveti alla Newsletter</h1>
    <div class="flex justify-center">
        <div class="flex flex-row border border-zinc-300 p-1 rounded-full pl-5 w-fit bg-white">
            <input type="text" placeHolder="Inserisci il tuo indirizzo e-mail" class="w-96 text-black">
            <div class="bg-zinc-800 p-2 rounded-full">
                <img src="/assets/icons/right-arrow.png" class="size-6">
            </div>
        </div>
    </div>
</div>

<%= render partial: "components/footer", locals: {
    copyright: "Copyright 2021-2024 Punto Zero Architettura S.r.l. All rights are reserved"
}%>